.mc-buttonPrivate {
  min-width: 100px;
  background-color: rgb(207, 207, 207);
  border-radius: 8px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.showMenuAvatar:hover {
  cursor: pointer;
}
.mc-buttonPrivateAppsIcon {
  width: 13px;
}

.mc-buttonPrivateAppsIcon-p {
  font-size: 13px;
  margin: 0;
  font-weight: 500;
  color: rgb(137, 136, 136);
}

.mc-buttonPrivate:hover {
  cursor: pointer;
}

/*-----------------COLUMNAS----------------------------------------------*/

.container {
  display: flex;
  height: 100%;
  padding: 10px;
  overflow-x: auto;
}

.columns-container {
  display: flex;
  flex-wrap: nowrap;
}

.column {
  width: 300px;
  min-height: 100vh;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-right: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.column-header h2 {
  margin: 0;
  font-size: 18px;
}

.row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: cursor 0.2s ease-in-out;
}

.row:hover {
  background-color: #f2f2f2;
  cursor: grab;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.row:active {
  cursor: grabbing;
  box-shadow: none;
}
.row-text {
  font-size: 16px;
  margin: 0;
}

.remove-row {
  color: red;
  cursor: pointer;
}
.button-agregarColumna {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 30px;
  padding: 10px;
  min-width: 300px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #5267ff;
  font-weight: 600;
  background-color: #bbc5ff;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
}

.menu-button{
  width: 30px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.menu-button img{
  width: 100%;
}

.menu-button:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 40vw;
  min-height: 80vh;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-containerImg{
  height: 10vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal-close:hover{
  background-color: #3e8e41;
}

.modal img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
}
 
.modal .modal-title {
  margin-top: 0;
  font-size: 18px;
}
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.modal-subtitle{
  font-style: italic;
  color: rgb(134, 134, 134);
}
.modal .modal-titleList{
  font-weight: 600;
  color: #000;
}
.modal-body{
  display: flex;
  gap: 20px;
}
.modal-bodyC1{
  min-width: 28vw;
  flex: 1;
}
.modal-bodyC2{
  min-width: 12vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-bodyC2-c1{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.modal-bodyC2-c1 h5{
  margin: 3px 0 0 0;
}
.modal-bodyC2-c1 img,.modal-bodyC2-label img{
  width: 20px;
}
.modal-bodyC2-label{
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  border: none;
  font-weight: 600;
  color:#999999
}
.modal-bodyC2-label:hover,.modal-edit-button:hover {
  background-color: #f5f5f5;
  color: #333333;
  cursor: pointer;
}
.modal-description-container{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.modal-description{
  display: flex;
  align-items: center;
  gap: 10px;
}
.modal-photeDescription{
  width: 20px!important;
  height: 20px!important;
}
.modal-edit-button{
  height: 100%;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
}

@media screen and (max-width: 2100px){
  .modal {
    width: 70vw;
  }
}

@media screen and (max-width: 1300px){
  .modal-bodyC1{
    min-width: 40vw;
  }
  .modal-bodyC2{
    min-width: 20vw;
  }
}
@media screen and (max-width: 800px){
  .modal-body{
    flex-direction: column;
  }
  .modal {
    width: 90vw;
    height: 80vh;
  }
}
@media screen and (max-width: 500px){
  
  .modal .modal-title {
    font-size: 15px;
  }
  .modal .modal-subtitle,.modal-bodyC2-c1 h5{
    font-size: 12px;
  }
  .modal {
    min-height: 90vh;
  }
  .modal-bodyC2-label{
    padding: 5px;
  }
}

